.nav-bar {
    -fx-background-color: #2c79c1;
    -fx-padding: 10px;
    -fx-font-size: 14px;
}

.nav-bar .button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;

}

.nav-bar .button:hover {
    -fx-background-color: #1b4f82;
}

#btnInscription {
    -fx-font-size: 14px;
    -fx-background-color: #52ADD1;
    -fx-text-fill: white;
}

.options-menu-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 0 5px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}

/* Enlever la flèche du MenuButton */
.options-menu-button>.arrow-button {
    -fx-padding: 0px;
}

.options-menu-button>.arrow-button>.arrow {
    -fx-padding: 0px;
}

.menu-item {
    -fx-font-size: 14px;
}


/* Styliser le ComboBox principal */
.language-dropdown {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 14px;
    -fx-padding: 0;
    -fx-cursor: hand;
}

.language-dropdown .arrow-button .arrow {
    -fx-background-color: white;
}


.language-dropdown .text,
.options-menu-button .text {
    -fx-fill: white;
}

.language-dropdown:showing,
.options-menu-button:showing {
    -fx-base: black;
}


/* Fin navbar */


.container-page {
    -fx-background-color: #EAEDF7;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-max-width: 900;
    -fx-max-height: 250;
}

.text-field {
    -fx-font-size: 16px;
    -fx-padding: 5px 10px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}


.search-button {
    -fx-background-color: #D9D9D9;
    -fx-font-color: black;
    -fx-font-size: 14px;
    -fx-border-color: #d1d1d1;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}


.lang-dropdown {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 14px;
    -fx-padding: 0;
    -fx-cursor: hand;
}

.lang-dropdown-button {
    -fx-background-color: #D9D9D9;
    -fx-border-color: #d1d1d1;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-spacing: 5px;
    -fx-alignment: center-left;
    -fx-cursor: hand;
}

.lang-dropdown-button:hover,
.search-button:hover {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #c1c1c1;
}