
.expressionJour-page {
    -fx-background-color: #c8d5ff;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-max-width: 500;
    -fx-max-height: 100;
}
.expressionListe-page { 
    -fx-font-size: 15px;
    -fx-background-color: #d9d9d9;
    -fx-border-radius: 15;
    -fx-max-width: 850;
    -fx-background-radius: 15;
}

.text-field {
    -fx-pref-width: 700;
    -fx-font-size: 16px;
    -fx-padding: 5px 10px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}


.btnRecherche, .btnHasard, .btnVoirTout {
    -fx-background-color: #1b4f82;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}
.btnRecherche {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}
